{% if article.authors %}
  <address class="vcard author">
    By {% for author in article.authors %}
      <a class="url fn" href="{% if AUTHOR_SAVE_AS %}{{ SITEURL }}/{{ author.url }}{% else %}#{% endif %}">{{ author }}</a>
      {%- if not loop.last %},{% endif %}
    {% endfor %}
  </address>
{% endif %}

  <div class="published" title="{{ article.date.isoformat() }}">
    {{ article.paperstatus }}: {{ article.date.year }}
  </div>

{% if article.ssrn %}
  <a class="url fn" href="{{ article.ssrn }}" target=_blank>{{ author }}</a>
{% endif %}

{% include 'taglist.html' %}
