{% extends "boilerplate.html" %}

{% block body %}

  <!--main-->
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-3 no-print" id="leftnav">
        {% include "nav.html" ignore missing with context%}
      </div>

      <div class="col-md-8 col-lg-9 body">
        <main role="main">
          {% block content %}
          {% endblock content %}
        </main>
      </div>
    </div>
  </div>

  <footer class='navbar navbar-fixed-bottom navbar-light bg-faded'>
    <nav class='container'>
      {% if SOCIAL %}
      <div class="social pull-xs-left">
        {% for name, link in SOCIAL %}
            <a href="{{ link }}" target=_blank><!-- {{ name }} --></a>
        {% endfor %}
      </div><!-- /.social -->
      {% endif %}

      <address class="vcard pull-xs-right">
      &copy; {{ AUTHOR }}, 2015.
      </address><!-- /#about -->
    </nav>
  </footer><!-- /#contentinfo -->


{% endblock body %}
