<div class="card card-block">
  <h2 class="card-title">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
        title="{{ article.title|striptags }}">{{ article.title }}</a>
  </h2>

  {% if article.authors %}
  <h6 class="card-subtitle text-muted">
    <address class="vcard author">
      By {% for author in article.authors %}
        <a class="url fn" href="{% if AUTHOR_SAVE_AS %}{{ SITEURL }}/{{ author.url }}{% else %}#{% endif %}">{{ author }}</a>
        {%- if not loop.last %},{% endif %}
      {% endfor %}
    </address>
  </h6>
  {% endif %}

  <div class="card-block">

    <div class="published" title="{{ article.date.isoformat() }}">
      {% if article.paperstatus %}
      {{ article.paperstatus }}
      {%- else -%}
      Date
      {%- endif -%}
      : {{ article.date }}
    </div>

    {% if article.ssrn %}
      <p class='card-text'>
        <a class="url fn" href="{{ article.ssrn }}" target=_blank>{{ author }}</a>
      </p>
    {% endif %}
    <br />
    <details class='abstract'>
      <summary>{% if article.paperstatus %}Abstract{% else %}Summary{% endif %}</summary>
      <p>{{ article.content }}</p>
    </details>

  </div>
</div>
