{% extends "base.html" %}

{% block content_title %}{% endblock %}

{% block content %}
  {% if categories %}
    {% for cat,arts in categories %}
      <section class="body">
        <h2>{{ cat }}</h2>
        <ul class="feed vertical" >
        {% for article in arts %}
          <li>
            <header class='article-title'>
              <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                  title="{{ article.title|striptags }}">{{ article.title }}</a>
            </header>
            {% include 'article_infos.html' %}
          </li>
        {% endfor %}
        </ul>
      </section>
    {% endfor %}
  {% endif %}

  <section class="body">
    <h2>Pages</h2>
    {% for page in PAGES %}
      <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
    {% endfor %}
  </section>

{% endblock content %}
