{% extends "base.html" %}

{% block content_title %}{% endblock %}

{% block content %}
<div class="container">
<p>
  Maclean (Mac) Gaulin is a sixth year Ph.D. student in accounting at the Jesse H. Jones Graduate School of Business in Rice University.
  His background is in Electrical Engineering where he worked in the industry for four years before joining the Ph.D. program at Rice University.
  His research interests include corporate narrative disclosures, information dissemination, and resultant economic outcomes.
</p>
<br><br>
</div>


  {% if categories %}
    {% for cat,arts in categories  if 'Research' == cat  %}
      <div class="container ">
        <h2>{{ cat }}</h2>
        {% for article in arts %}
            {% include 'category_card.html' %}
        {% endfor %}
      </div>
    {% endfor %}
    {% for cat,arts in categories  if 'Research' != cat  %}
    <hr>
      <div class="container ">
        <h2>{{ cat }}</h2>
        {% for article in arts %}
          {% include 'category_card.html' %}
        {% endfor %}
      </div>
    {% endfor %}
  {% endif %}
{% endblock content %}
