{% extends "base.html" %}

{% block content_title %}{% endblock %}

{% block content %}
{% with abstract=False %}
  {% if categories %}
    {% for cat,arts in categories  if 'Research' == cat  %}
      <div class="container ">
        <h4>{{ cat }}</h4>
        {% for article in arts %}
            {% include 'category_card.html' %}
        {% endfor %}
      </div>
    {% endfor %}
    {% for cat,arts in categories  if 'Research' != cat  %}
    <hr>
      <div class="container ">
        <h4>{{ cat }}</h4>
        {% for article in arts %}
          {% include 'category_card.html' %}
        {% endfor %}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock content %}
