/*****************************************************************************************
8888888 888b     d888 8888888b.   .d88888b.  8888888b. 88888888888
  888   8888b   d8888 888   Y88b d88P" "Y88b 888   Y88b    888
  888   88888b.d88888 888    888 888     888 888    888    888
  888   888Y88888P888 888   d88P 888     888 888   d88P    888
  888   888 Y888P 888 8888888P"  888     888 8888888P"     888
  888   888  Y8P  888 888        888     888 888 T88b      888
  888   888   "   888 888        Y88b. .d88P 888  T88b     888
8888888 888       888 888         "Y88888P"  888   T88b    888
*****************************************************************************************/
@import "reset";
@import "pygment";
@import "typogrify";
// Thanks https://github.com/tyleruebele/details-shim
@import "details-shim";

/*****************************************************************************************
888     888     d8888 8888888b.  8888888        d8888 888888b.   888      8888888888 .d8888b.
888     888    d88888 888   Y88b   888         d88888 888  "88b  888      888       d88P  Y88b
888     888   d88P888 888    888   888        d88P888 888  .88P  888      888       Y88b.
Y88b   d88P  d88P 888 888   d88P   888       d88P 888 8888888K.  888      8888888    "Y888b.
 Y88b d88P  d88P  888 8888888P"    888      d88P  888 888  "Y88b 888      888           "Y88b.
  Y88o88P  d88P   888 888 T88b     888     d88P   888 888    888 888      888             "888
   Y888P  d8888888888 888  T88b    888    d8888888888 888   d88P 888      888       Y88b  d88P
    Y8P  d88P     888 888   T88b 8888888 d88P     888 8888888P"  88888888 8888888888 "Y8888P"
*****************************************************************************************/
// Extra small screen / phone
$width_xs: 0;
// Small screen / phone
$width_sm: 544px;
// Medium screen / tablet
$width_md: 768px;
// Large screen / desktop
$width_lg: 992px;
// Extra large screen / wide desktop
$width_xl: 1200p;

/*****************************************************************************************
 .d8888b.  8888888888 888b    888 8888888888 8888888b.         d8888 888
d88P  Y88b 888        8888b   888 888        888   Y88b       d88888 888
888    888 888        88888b  888 888        888    888      d88P888 888
888        8888888    888Y88b 888 8888888    888   d88P     d88P 888 888
888  88888 888        888 Y88b888 888        8888888P"     d88P  888 888
888    888 888        888  Y88888 888        888 T88b     d88P   888 888
Y88b  d88P 888        888   Y8888 888        888  T88b   d8888888888 888
 "Y8888P88 8888888888 888    Y888 8888888888 888   T88b d88P     888 88888888
*****************************************************************************************/
body {
  background-color: #fdfdfd;
  color: #111;
  font-size: 1.2em;
  font-family: 'Crimson Text','Slabo 27px', serif;
  line-height: 1.25em;
  padding-top: 3em;
}

b, strong {
  font-weight: bold;
}

i,em {
  font-style: italic;
}

a {
  color: #0055BB;
}

ol, ul {
    list-style: inherit;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
  text-shadow: 0 0 1px #BFBFBF;
  font-weight: normal;
  font-style: normal;
  font-variant: small-caps;
}
h1 { font-size: 2.5em;   }
h2 { font-size: 1.8em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1em;   }
h6 { font-size: 0.8em; }

.justify {
  text-align: justify;
  text-justify: auto;
}


/*****************************************************************************************
8888888b.  8888888b.  8888888 888b    888 88888888888
888   Y88b 888   Y88b   888   8888b   888     888
888    888 888    888   888   88888b  888     888
888   d88P 888   d88P   888   888Y88b 888     888
8888888P"  8888888P"    888   888 Y88b888     888
888        888 T88b     888   888  Y88888     888
888        888  T88b    888   888   Y8888     888
888        888   T88b 8888888 888    Y888     888
*****************************************************************************************/

@media print {
  .no-print, .no-print * {
    display: none !important;
  }

  body {
  font-size: 0.8em;
  margin: 0px;
  }
}

@page {
  size: auto;

  margin: 20mm 0mm 20mm 0mm;

}

/*****************************************************************************************
888    888 8888888888        d8888 8888888b.  8888888888 8888888b.
888    888 888              d88888 888  "Y88b 888        888   Y88b
888    888 888             d88P888 888    888 888        888    888
8888888888 8888888        d88P 888 888    888 8888888    888   d88P
888    888 888           d88P  888 888    888 888        8888888P"
888    888 888          d88P   888 888    888 888        888 T88b
888    888 888         d8888888888 888  .d88P 888        888  T88b
888    888 8888888888 d88P     888 8888888P"  8888888888 888   T88b
*****************************************************************************************/
header.title{
  h1 {
    text-align: center;
    font-size: 2.5em;
  } // h1
  nav {
    background: transparent;
    margin: 1em;
    padding: 0;
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 15px;
  } // nav

  a {
    outline: 0;
    text-decoration: none;
    padding-left: 2%;
    padding-right: 2%;
  }
  a:hover,a:active {
    text-shadow: 0 0 0.5em #BFBFBF;
  }

  @media (min-width: $width_md) {
      a {
        display: block;
        margin-bottom: .75em;
      }
  }
} // header.title

/*****************************************************************************************
888888b.    .d88888b.  8888888b. Y88b   d88P
888  "88b  d88P" "Y88b 888  "Y88b Y88b d88P
888  .88P  888     888 888    888  Y88o88P
8888888K.  888     888 888    888   Y888P
888  "Y88b 888     888 888    888    888
888    888 888     888 888    888    888
888   d88P Y88b. .d88P 888  .d88P    888
8888888P"   "Y88888P"  8888888P"     888
*****************************************************************************************/

main {
  padding-bottom: 5em;

  article {
    header {
      margin-bottom: 1em;

      a.title {
        color: inherit;
      }
    }
  }

  .section {
    margin: 1em 0;
  }

  .field-list{
    // Word: Definition type table with field_list, field, field_name, field_body
    .field-name{
      font-weight: bold;
      padding-right: 0.5em;
      text-align: right;
    }
  }
}

header div.meta-info {
  padding-top: 0.25em;
  padding-left: 2em;
}

.card .card-indent {
  border-left: 1px solid #CCC;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1em;
}

/* Code Blocks from Pygments */
code, .highlight {
  font-size: 0.8em;
  font-style: normal;
  margin: 1em 2em;
  padding: 0 0.5em;
  font-weight: normal;
  font-family: Consolas, "Droid Sans Mono", monospace;

  pre {
    padding: 0.5em 1em;
  }

  span.lineno {
    color: #777777;
    margin-right: .5em;
  }
}
tt.literal{
  font-family: Consolas, "Droid Sans Mono", monospace;
  font-size: 0.8em;
}

/*************************************************************
8888888b.
888   Y88b
888    888
888   d88P .d88b.  .d8888b  888  888 88888b.d88b.   .d88b.
8888888P" d8P  Y8b 88K      888  888 888 "888 "88b d8P  Y8b
888 T88b  88888888 "Y8888b. 888  888 888  888  888 88888888
888  T88b Y8b.          X88 Y88b 888 888  888  888 Y8b.
888   T88b "Y8888   88888P'  "Y88888 888  888  888  "Y8888

Put class:: directive above RST file header to apply this styling.
*************************************************************/
.resume{
  .section{
    margin-left: 1em;
  }

  h2, h3, h4, h5 {
    margin-left: -1em;
  }
  h2{
    text-align: center;
  }
  h3{
    border-bottom: solid 1px black;
    font-size: 1.4em;
  }

  blockquote {
    padding-left: 2em;
  }
}

/*************************************************************
8888888 .d8888b.   .d88888b.  888b    888  .d8888b.
  888  d88P  Y88b d88P" "Y88b 8888b   888 d88P  Y88b
  888  888    888 888     888 88888b  888 Y88b.
  888  888        888     888 888Y88b 888  "Y888b.
  888  888        888     888 888 Y88b888     "Y88b.
  888  888    888 888     888 888  Y88888       "888
  888  Y88b  d88P Y88b. .d88P 888   Y8888 Y88b  d88P
8888888 "Y8888P"   "Y88888P"  888    Y888  "Y8888P"
**************************************************************/
.social a {
  background-repeat: no-repeat;
  background-position: 3px 6px;
  padding-left: 25px;
}

.social a[href*='about.me'] {
  background-image: url('../images/icons/aboutme.png');
}

.social a[href*='bitbucket.org'] {
  background-image: url('../images/icons/bitbucket.png');
}

.social a[href*='delicious.com'] {
  background-image: url('../images/icons/delicious.png');
}

.social a[href*='digg.com'] {
  background-image: url('../images/icons/digg.png');
}

.social a[href*='facebook.com'] {
  background-image: url('../images/icons/facebook.png');
}

.social a[href*='gitorious.org'] {
  background-image: url('../images/icons/gitorious.png');
}

.social a[href*='github.com'],
.social a[href*='git.io'] {
  background-image: url('../images/icons/github.png');
  background-size: 16px 16px;
}

.social a[href*='gittip.com'] {
  background-image: url('../images/icons/gittip.png');
}

.social a[href*='plus.google.com'] {
  background-image: url('../images/icons/google-plus.png');
}

.social a[href*='groups.google.com'] {
  background-image: url('../images/icons/google-groups.png');
}

.social a[href*='news.ycombinator.com'],
.social a[href*='hackernewsers.com'] {
  background-image: url('../images/icons/hackernews.png');
}

.social a[href*='last.fm'],
.social a[href*='lastfm.'] {
  background-image: url('../images/icons/lastfm.png');
}

.social a[href*='linkedin.com'] {
  background-image: url('../images/icons/linkedin.png');
}

.social a[href*='reddit.com'] {
  background-image: url('../images/icons/reddit.png');
}

.social a[type$='atom+xml'],
.social a[type$='rss+xml'] {
  background-image: url('../images/icons/rss.png');
}

.social a[href*='slideshare.net'] {
  background-image: url('../images/icons/slideshare.png');
}

.social a[href*='speakerdeck.com'] {
  background-image: url('../images/icons/speakerdeck.png');
}

.social a[href*='stackoverflow.com'] {
  background-image: url('../images/icons/stackoverflow.png');
}

.social a[href*='twitter.com'] {
  background-image: url('../images/icons/twitter.png');
}

.social a[href*='vimeo.com'] {
  background-image: url('../images/icons/vimeo.png');
}

.social a[href*='youtube.com'] {
  background-image: url('../images/icons/youtube.png');
}
